*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: end;
    background-color: #C72C31;
    height: 80px;
    align-items: center;
}
.firm_logo{
    position:absolute;
    top: 0px;
    left: 20px; 
}


.menu{
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 10px;
    background-color: #472F35;
    z-index: 2;
}

.h-menu {
    width: 100px;
    height: 34px;
}

.h-menu li {
    float: left;
    list-style: none;
    position: relative;
	width: auto;
}

.h-menu li a {
    color: white;
    display: block;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 20px 10px;
    text-decoration: none;
}

.h-menu li ul {
    display: none;
}

.h-menu li:hover ul {
    display: block;
    position: absolute;
    top: 34px;
    right: 0;
    border-radius: 10px;
    background-color: #472F35;
    z-index: 1000;
    margin: 0;
    padding: 0;
	width: 200px;
}

.h-menu li:hover ul li {
    float: none;
    border-right: none;
}

.h-menu li:hover ul li a:hover {
    text-decoration: underline;
}


.photo_galery{
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background-color: #472F35;
}
.photo_galery {
    display: flex;
    justify-content: space-between;
    
  }
.photo {
    transition: width 3s ease; 
    height: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat
}

.photo1 {
    width: 25%;
    background-image: url("./images/image1.jpg");
}
.photo2 {
    width: 25%;
    background-image: url("./imeges/image2.jpg");
}
.photo3 {
    width: 25%;
    background-image: url("./imeges/image3.jpg");
}
.photo4 {
    width: 25%;
    background-image: url("./imeges/image4.jpg");
}

.photo:hover {
    width: 100%; 
  }

.employees{
    width: auto;
    height: 800px;
    background-color: #C72C31;
    position: relative;
}
.svg_top{
    transform: rotate(180deg);
    position: absolute;
    top: 0;
}
.svg_bottom{
    position: absolute;
    bottom: 0;
}

.card {
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 30px;
    
}
.card1{
    top: 0;
    left: 0;
    background-image: url("./photo/photo_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card2{
    top: 0;
    left: 30%;
    background-image: url("./photo/photo_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card3{
    top: 0;
    left: 60%;
    background-image: url("./photo/photo_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card4{
    top: 50%;
    left: 15%;
    background-image: url("./photo/photo_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card5{
    top: 50%;
    left: 45%;
    background-image: url("./photo/photo_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card6{
    top: 50%;
    left: 75%;
    background-image: url("./photo/photo_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
   
.card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color:#472F35;
    opacity: 0;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
    
}
.card p {
    color: white;
} 
.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
} 
.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}
.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}
.card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
}





.about_the_company{
    width: auto;
    height: auto;
    background-color: #273036;
    font-size: 20px;
    padding: 20px;
    color: white;
}
.text_title{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}
.about_text p {
    padding: 10px;
}




.footer{
    width: 100%;
    height: 10vh;
    font-size: 20px;
    background-color: #C72C31;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.footer div{
    height: 50%;
    width: 300 px;

}
.footer a{
    color: white;
    text-decoration: none;
}

.footer a:link{
    color: white;
}
 
.footera:visited{
   color:white;
}
 
.footer a:hover{
   color:white;

}
 
.footer a:active{
   color:white;
}

@media screen  and (max-width: 1024px) {
    
    .employees{
        height: auto;

    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .card{
        position: relative;
    }
    .card1{
        top: auto;
        left: auto;
    }
    .card2{
        top: auto;
        left: auto;
    }
    .card3{
        top: auto;
        left: auto;
    }
    .card4{
        top: auto;
        left: auto;
    }
    .card5{
        top: auto;
        left: auto;
    }
    .card6{
        top: auto;
        left: auto;
    }


}
